$primary-color: #000000;
$secondary-color: #f4f4f4;
$text-color: #333;
$hyperlinks-color: #024d9c;
$font-stack: "Oswald", sans-serif;
$header-font: "Bebas Neue", sans-serif;
$background-color: rgba(255, 255, 255, 0.8);
$border-radius: 15px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$padding: 40px;
$margin: 20px;
$max-width: 600px;
$grid-column-span: 1 / span 2;
$contact-margin: 2rem;
$contact-background: $secondary-color;
$contact-border-radius: 4px;
$contact-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$contact-padding: 2rem;
$contact-max-width: 100%;
$form-width: 100%;
